body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

.selection-box {
    background-color: #cabcffaf;
    position: absolute;
}

.map {
    position: relative;
    height: 50px;
    background: #aaa;
    font-size: 30px;
    color: #fff;
    line-height: 50px;
    padding: 10px;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;
}

.map div div {
    display: inline;
    cursor: pointer;
}

.map div div:hover {
    color: #bbf;
    transition: color 0.35s;
}

.structure {
    position: relative;
    height: calc(100% - 70px);
    padding: 10px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.folder, .file {
    width: 200px;
    height: 200px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    margin: auto;
}

.folder p, .file p {
    margin: 170px 0 0 0;
    padding: 0px;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;
}

.empty-folder-icon {
    background-image: url("/img/empty-folder-icon.png");
}

.filled-folder-icon {
    background-image: url("/img/filled-folder-icon.png");
}

.pdf-file-icon {
    background-image: url("/img/pdf-file-icon.png");
}

.mp3-file-icon {
    background-image: url("/img/mp3-file-icon.png");
}

.unknown-file-icon {
    background-image: url("/img/unknown-file-icon.png");
}

.select {
    background-color: #cabcffaf;
}


.structure {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-columns: 6;
}